.container-form {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 1% 10% 5% 10%;
}

.element {
  display: block;
}

.header {
  padding: 5%;
}

.button-save {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}
